body, html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out .2s;
}
#header.active{
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    z-index: 9999;
}
#header .navbar-collapse{
    width: auto;
}
#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: black;
    border-bottom: solid 4px transparent;
}
#header .nav-link:hover{
    border-bottom: solid 4px var(--secoundary);
    color: var(--secoundary);
}
#slider{
    color: rgba(255, 255, 255, 0.932);
    background: linear-gradient(
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.8) ) ,
    url('../img/fundo.jpg');
    height: 100vh;
}
#slider h1{
    text-transform: uppercase;
    font-weight: 900;
}
#slider h4{
    font-size: 18px;
    text-transform: uppercase;
}
#slider img{
    filter: drop-shadow(15px 15px 10px #000000);
}
#sobre{
    color: white;
    background-image: linear-gradient(#110e09e0, rgba(255, 255, 255, 0.979));
}
#sobre img{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.733));}
#profissional a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out .2s;
}
#profissional a.destaque:hover{
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .12);
    transform: scale(1.05);
}
#profissional a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#profissional a.destaque .img-container img{
    max-height: 160px;
}
#contato{
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
#contato ul{
    margin: 0;
    padding: 0;
    display: flex;
}
#contato ul li{
    display: flex;
    list-style-type: none;
    margin-left: 25px;
}
#contato ul li:first-child{
    margin-left: 0;
}
#contato img{
    border-radius: 20px;
    background-color: transparent;
}
#contato img:hover:not(.logo){
    box-shadow: 6px 4px 11px 2px rgba(0,0,0,0.49);
    background-color: white;
    cursor: pointer;
}
#portfolio img{
    box-shadow: 6px 4px 11px 2px rgba(0,0,0,0.49);
}
footer a{
    text-decoration: none;
}