/*MIN WIDTH*/
@media(min-width: 992px){
    #header .nav-link {
        margin-left: 15px;
        margin-top: 15px;
    }
}
/*MAX MEDIUM*/
@media (max-width: 991.98px){
    #header .navbar-collapse {
        width: 100%;
    }
}
@media (max-width: 767.98px){
    #profissional a.destaque .img-container{
        height: 120px;
    }
    #profissional a.destaque .img-container img{
        max-height: 120px;
    }
    #contato ul{
        padding-top: 30px;
        justify-content: center;
    }
    .logo{
        padding-right: 150px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}